# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.8.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [7]:
dataset = pd.read_csv('../saved_data/dataset_1.csv')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69336 entries, 0 to 69335
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   event-id                         69336 non-null  int64
 1   visible                          69336 non-null  bool
 2   timestamp                        69336 non-null  object
 3   location-long                    69336 non-null  float64
 4   location-lat                     69336 non-null  float64
 5   comments                         69336 non-null  object
 6   sensor-type                      69336 non-null  object
 7   individual-taxon-canonical-name  69336 non-null  object
 8   tag-local-identifier             69336 non-null  object
 9   individual-local-identifier      69336 non-null  object
 10  study-name                       69336 non-null  object
dtypes: bool(1), float64(2), int64(1), object(7)
memory usage: 5.4+ MB

In [6]:
dataset.head()

,event-id,visible,timestamp,location-long,location-lat,comments,sensor-type,individual-taxon-canonical-name,tag-local-identifier,individual-local-identifier,study-name
0,500933619,True,2009-01-01 12:00:00.000,-2.662988,51.407013,2D videogrammetry data,gps,Myotis daubentoni,1,1,Movement coordination in trawling bats (data f...
1,500933620,True,2009-01-01 12:00:00.020,-2.662988,51.407013,2D videogrammetry data,gps,Myotis daubentoni,1,1,Movement coordination in trawling bats (data f...
2,500933621,True,2009-01-01 12:00:00.040,-2.662988,51.407014,2D videogrammetry data,gps,Myotis daubentoni,1,1,Movement coordination in trawling bats (data f...
3,500933622,True,2009-01-01 12:00:00.060,-2.662988,51.407014,2D videogrammetry data,gps,Myotis daubentoni,1,1,Movement coordination in trawling bats (data f...
4,500933623,True,2009-01-01 12:00:00.080,-2.662988,51.407014,2D videogrammetry data,gps,Myotis daubentoni,1,1,Movement coordination in trawling bats (data f...

In [5]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [6]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2]) # female --> 0, male --> 1

In [8]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [9]:
# Detect number of countries found in the dataset --> three countries France/Germany/Spain
countries = dataset.groupby(['Geography']).mean()
countries

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
Geography,,,,,,,,,,,
France,5025.228560,1.569065e+07,649.668329,38.511767,5.004587,62092.636516,1.530913,0.706621,0.516753,99899.180814,0.161548
Germany,5000.278996,1.569056e+07,651.453567,39.771622,5.009964,119730.116134,1.519729,0.713830,0.497409,101113.435102,0.324432
Spain,4950.667743,1.569192e+07,651.333872,38.890997,5.032297,61818.147763,1.539362,0.694792,0.529673,99440.572281,0.166734

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Fance    --> 1.0 0.0 0.0
# Spain    --> 0.0 1.0 0.0
# Germany  --> 0.0 0.0 1.0
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [11]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [12]:
dataset_prep = pd.DataFrame(X)
dataset_prep

       0    1    2    3  4   5   6          7  8  9  10         11
0     1.0  0.0  0.0  619  0  42   2        0.0  1  1  1  101348.88
1     0.0  0.0  1.0  608  0  41   1   83807.86  1  0  1  112542.58
2     1.0  0.0  0.0  502  0  42   8   159660.8  3  1  0  113931.57
3     1.0  0.0  0.0  699  0  39   1        0.0  2  0  0   93826.63
4     0.0  0.0  1.0  850  0  43   2  125510.82  1  1  1    79084.1
...   ...  ...  ...  ... ..  ..  ..        ... .. .. ..        ...
9995  1.0  0.0  0.0  771  1  39   5        0.0  2  1  0   96270.64
9996  1.0  0.0  0.0  516  1  35  10   57369.61  1  1  1  101699.77
9997  1.0  0.0  0.0  709  0  36   7        0.0  1  0  1   42085.58
9998  0.0  1.0  0.0  772  1  42   3   75075.31  2  1  0   92888.52
9999  1.0  0.0  0.0  792  0  28   4  130142.79  1  1  0   38190.78

[10000 rows x 12 columns]

In [13]:
column_names = [    
    'France',
    'Spain',
    'Gernamy',
    'CreditScor', 
    'Gender', 
    'Age', 
    'Tenure', 
    'Balance', 
    'NumOfProducts', 
    'HasCrCard', 
    'IsActiveMember', 
    'EstimatedSalary'
]

In [14]:
dataset_prep.columns = column_names
dataset_prep.head()

,France,Spain,Gernamy,CreditScor,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619,0,42,2,0.0,1,1,1,101348.88
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58
2,1.0,0.0,0.0,502,0,42,8,159660.8,3,1,0,113931.57
3,1.0,0.0,0.0,699,0,39,1,0.0,2,0,0,93826.63
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.1

In [15]:
dataset_prep  = dataset_prep.assign(Exited = y)
dataset_prep.head()

,France,Spain,Gernamy,CreditScor,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,0.0,0.0,619,0,42,2,0.0,1,1,1,101348.88,1
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0
2,1.0,0.0,0.0,502,0,42,8,159660.8,3,1,0,113931.57,1
3,1.0,0.0,0.0,699,0,39,1,0.0,2,0,0,93826.63,0
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.1,0

### Splitting the dataset into the Training set and Test set

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [18]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [19]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [21]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [22]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [23]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5578 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4779 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4520 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4390 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4316 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4248 - accuracy: 0.7975
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4168 - accuracy: 0.8044
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4067 - accuracy: 0.8091
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3965 - accuracy: 0.8133
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3874 - accuracy: 0.8189
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3801 - accuracy: 0.8324
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3748 - accuracy: 0.8407
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3712 - accuracy: 0.8445
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3682 - accuracy: 0.8481
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3658 - accuracy: 0.8500
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3640 - accuracy: 0.8515
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3624 - accuracy: 0.8529
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3606 - accuracy: 0.8541
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3594 - accuracy: 0.8547
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3582 - accuracy: 0.8564
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3570 - accuracy: 0.8541
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3556 - accuracy: 0.8564
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3548 - accuracy: 0.8562
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3541 - accuracy: 0.8565
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8565
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3524 - accuracy: 0.8572
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3517 - accuracy: 0.8583
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3509 - accuracy: 0.8586
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3504 - accuracy: 0.8587
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3496 - accuracy: 0.8587
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3494 - accuracy: 0.8589
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3486 - accuracy: 0.8610
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8596
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8608
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3469 - accuracy: 0.8602
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3466 - accuracy: 0.8611
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3460 - accuracy: 0.8601
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3456 - accuracy: 0.8606
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3456 - accuracy: 0.8620
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3452 - accuracy: 0.8605
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8609
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8605
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3438 - accuracy: 0.8599
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8610
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3432 - accuracy: 0.8615
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8609
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8611
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8621
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8614
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8611
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8616
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8611
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8618
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3417 - accuracy: 0.8614
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8612
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8634
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3412 - accuracy: 0.8615
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8634
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8616
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3410 - accuracy: 0.8630
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8621
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8616
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8622
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8620
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8619
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8630
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8621
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8615
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8630
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8631
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8629
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8630
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8622
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8630
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8630
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8634
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8624
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8631
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8641
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8639
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8631
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8627
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8636
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8625
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8625
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8627
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8616
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8646
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8629
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8645
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8640
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8641
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8639
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8643
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8640
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8624
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8622

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

In [24]:
'''
TEST_CUSTOMER_1
Geography: France
Credit Score: 600
Gender: Male
Age: 40 years old
Tenure: 3 years
Balance: $ 60000
Number of Products: 2
Does this customer have a credit card ? Yes
Is this customer an Active Member: Yes
Estimated Salary: $ 50000

TEST_CUSTOMER_2
Geography: Germany
Credit Score: 645
Gender: Male
Age: 44 years old
Tenure: 8 years
Balance: $ 113755.78
Number of Products: 2
Does this customer have a credit card ? Yes
Is this customer an Active Member: No
Estimated Salary: $ 149756.71

Exited: 1


0.0,0.0,1.0,645,1,44,8,113755.78,2,1,0,149756.71,1
0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58,0

0.0,0.0,1.0,510,0,38,4,0.0,1,1,0,118913.53,1
1.0,0.0,0.0,669,1,46,3,0.0,2,0,1,8487.75,0
1.0,0.0,0.0,846,0,38,5,0.0,1,1,1,187616.16,0

Should we say goodbye to that customer ?
'''
TEST_CUSTOMER_1 = [[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]
TEST_CUSTOMER_2 = [[0, 0, 1, 645, 1, 44, 8, 113755, 2, 1, 0, 149756]]
TEST_CUSTOMER_3 = [[0, 0, 1, 608, 0, 41, 1, 83807, 1, 0, 1, 112542]]
TEST_CUSTOMER_4 = [[0, 0, 1, 510, 0, 38, 4, 83807, 0, 1, 1, 118913]]

customer_names = [
    'TEST_CUSTOMER_1',
    'TEST_CUSTOMER_2',
    'TEST_CUSTOMER_3',
    'TEST_CUSTOMER_4'
    ]

customer_data = [
    TEST_CUSTOMER_1,
    TEST_CUSTOMER_2,
    TEST_CUSTOMER_3,
    TEST_CUSTOMER_4
    ]

In [25]:
for i in range(0, len(customer_data)):
    result = ann.predict(scaler.transform(customer_data[i])).reshape(-1, 1)
    #result_inv = scaler.inverse_transform(result)
    print('--- Result for customer ' + customer_names[i] + ' ---')
    print(result)
    print(result > 0.5)

--- Result for customer TEST_CUSTOMER_1 ---
[[0.03695932]]
[[False]]
--- Result for customer TEST_CUSTOMER_2 ---
[[0.27669218]]
[[False]]
--- Result for customer TEST_CUSTOMER_3 ---
[[0.21942659]]
[[False]]
--- Result for customer TEST_CUSTOMER_4 ---
[[0.3803086]]
[[False]]

In [26]:
result = ann.predict(scaler.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))
result

array([[0.03695932]], dtype=float32)

In [27]:
print(ann.predict(scaler.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

--> ANN model predicts that this customer stays in the bank!

### Predicting the Test set results

In [28]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [35]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))
print()
cm = confusion_matrix(y_test, y_pred)
print('Confusion Matrix: ')
print(cm) 
print()
print('Description Confusion Matrix:')
print('[Predicted POSITIVE and real POSITIVE][Predicted positive and real negative]')
print('[Predicted negative and real positive][Predicted NEGATIVE and real NEGATIVE]')  
print()
print('Accuracy Score:')
print(accuracy_score(y_test, y_pred))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

Confusion Matrix:
[[1505   90]
 [ 192  213]]

Description Confusion Matrix:
[Predicted POSITIVE and real POSITIVE][Predicted positive and real negative]
[Predicted negative and real positive][Predicted NEGATIVE and real NEGATIVE]

Accuracy Score:
0.859